.rico{

}

body{
    background: linear-gradient(135deg ,#260133, #1F2348);
}

header{
    background: linear-gradient(135deg ,#260133, #1F2348);
    height: calc(102px);
}

.hidden{
	transition: all 1s ease-in-out !important;
	opacity:0;
	max-height:0;
	max-width:0;
	display:none;
	padding:0 !important;
	margin:0 !important;
	border:none !important;
	overflow:hidden;
}

#speechBubble{

}
.speech-bubble-area{
    color: white;
    font-size: 32px;
	/*border-style: solid;
	border-color: green;*/
	width: calc(100vw - 110px);
	height: calc(90px);
	position: absolute;
	top: 5px;
	left: 102px;

	text-align: left;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	justify-content: center;
	vertical-align: middle;
}

.overlay-box {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	color: white; background: #666666; opacity: .99;
	z-index: 1000;
	border-radius: 5px;

	width: 80vw;
	height: 80vh;
}
.tile-content {
	text-align: center;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	vertical-align: middle;
	/*height: 100%;*/
	color: rgb(253, 293, 18);
}
.x-area{
	float: right;
	vertical-align: top;
}

.ricardo-main-avatar{
	width: 200px;
	height: 200px;
	border: 1px solid green;
	position: absolute;
}

.ricardo-text-popup{
    
}

footer {
    background: rgb(0,0,0);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 16px;

    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
}